@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@300;400;500;700&display=swap');
:root {
  --dark-blue: #00274c;
  --active-link: #0ebe6a;
}
*, ::after, ::before {
  box-sizing: border-box;
}


.btn-get-started {
  border: 1px solid var(--dark-blue);
  font-family: 'Ubuntu', san-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.text-input {
  border: none;
  width: 100%;
}
.text-input:hover, .text-input:focus {        
  outline: none;
  border: none;
}

.registration {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-registration {
  background: #0ebe6a;
  color: #fff;
  font-weight: 500;
  font-family: 'Ubuntu', san-serif;
}

.registration-name {
  border-radius: 12px;
  border: 1px solid #d1d5db;
}

.account-heading {
  font-family: 'Work Sans', sans-serif;
  color: #6b7280;
}
.account-form {
  font-family: 'Ubuntu', san-serif;
  font-size: 1.5rem;
  color: #374151;
}
.account-form-label {
  font-family: 'Ubuntu', san-serif;
  color: #00274c;
}

.email-accent {
  color: #0ebe6a;
}

.accordion-item {
  border: none;
}

.accordion {
  --bs-accordion-bg: none;
  
  --bs-accordion-border-color: var(--dark-blue);
}
.accordion-button:focus {
  border-color: var(--dark-blue);
}
.accordion-button {
  --bs-accordion-active-bg: none;
  
  --bs-accordion-active-font-weight: bold;
  --bs-accordion-btn-color: rgba(150,150,150,.8);
  --bs-accordion-border-width: 0;
  font-weight: bold;
  transition: .3s;
}
.accordion [class*="collapsed"] {
  font-size: .9rem;
}


.fade-in {
  animation: fade-in .3s linear forwards;
}

@keyframes fade-in {
  0%{opacity: 0}
  70%{opacity: .6}
  100%{opacity: 1}
}
.home-logo {
  width: 50%;
  height: 50%;
}

/* * { border: 1px solid red} */

/* @media (max-width: 1024px) {
  .home-logo {
    width: 100%;
    height: 100%;
  }
} */


@media (max-width: 768px) {
  .registration-input {
    width: 100%!important;
  }
  .home-logo {
    width: 75%;
    height: 75%;
  }
}